@mixin text-input {
  box-sizing: border-box;
  border: none;
  border-bottom: solid 2px #ddd;
  background-color: transparent;
  transition: border-bottom-color .3s ease;

  &:focus {
    outline: 0;
  }
}
