// color
$arg-color: #5587D6;
$option-color: #28b418;
$light-blue: #74c2cb;

// size
$center-threshold-width: 1615px;
$container-max-width: 1000px;
$container-min-width: 600px;
$container-margin-left: 300px;
