html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
}

#main {
  height: 100%;
  overflow-y: scroll;
}

#content {
  height: 100%;
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  padding: 10px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
  #content {
    margin: 0 0 0 300px;
  }
}

h2 {
  margin: 20px 0 40px 0;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  font-size: 28px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

h3 {
  margin: 8px 0 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: rgba(87, 90, 97, 0.85);
}

a {
  text-decoration: none;
}

input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.monospaced {
  font-family: Monaco, courier, monospace;
}
