html, body {
  height: 100%;
  font-size: 14px;
}

#main {
  height: 100%;
  padding-left: 200px;
}

#content {
  height: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow-y: scroll;
}

h2 {
  margin: 10px 0 20px 0;
  font-size: 28px;
  color: #4e565d;
}

h3 {
  padding: 10px 0;
  font-size: 18px;
  color: #4e565d;
}

a {
  text-decoration: none;
}
