html, body {
  height: 100%;
  font-size: 14px;
}

#main {
  height: 100%;
  overflow-y: auto;
}

#content {
  height: 100%;
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  padding: 10px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
  #content {
    margin: 0 0 0 300px;
  }
}

h2 {
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  font-size: 28px;
  color: #4e565d;
}

h3 {
  margin: 8px 0 15px 0;
  font-size: 18px;
  color: #4e565d;
}

a {
  text-decoration: none;
}
