#sidemenu {
  position: fixed;
  height: 100%;
  padding: 10px;
  width: 300px;
  background-color: #F4F6F7;
  box-sizing: border-box;
}

ul li {
  margin-bottom: 8px;
  padding: 10px 10px;
  background-color: #dfe1e2;
  font-size: 14px;
  color: #111;
  list-style: none;
}

ul li:hover {
  background-color: #ddd;
}
