#sidemenu {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #F4F6F7;
  box-sizing: border-box;

  ul li {
    padding: 18px 15px;
    font-size: 15px;
    color: #111;
    list-style: none;
    border-bottom: solid 1px #ddd;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
