@import '../shared/style/variables';
@import '../shared/style/text-input';

#sidemenu {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: 250px;
  background-color: #F4F4F5;
  box-sizing: border-box;
  border-right: solid 1px #e1dee1;
  z-index: 20000;

  ul li {
    padding: 18px 20px;
    font-size: 15px;
    color: $text-base-color;
    list-style: none;
    transition: background-color .2s ease;

    &:hover {
      background-color: #e6e6e6;
    }
  }

  .search {
    margin: 15px 20px;

    input {
      @include text-input;
      width: 100%;
      padding: 10px 5px;
      font-size: 15px;

      &:focus {
        border-bottom-color: #ffb14a;
      }

      &::placeholder {
        font-weight: 100;
        color: #888;
      }
    }
  }
}
