.args {
  float: left;
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(85, 135, 214, 0.4);
  color: #5587d6;

  > div {
    float: left;

    span {
      margin-right: 7px;
    }

    &:last-child span {
      margin-right: 0;
    }
  }
}

