label {
  font-size: 16px;
}

table {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;

  tr {
    border-bottom: solid 1px #eee;
  }

  td {
    padding: 10px 10px;
  }
}

.command-description {
  margin: 10px 0;
  font-size: 16px;
}

.command-grammar {
  padding: 25px 20px;
  background-color: #f4f4f5;
  font-size: 16px;
  font-family: 'Roboto Mono', Monaco, courier, monospace;

  .options {
    color: #6cd05d;
  }
  .args {
    color: #6d6bce;

    span:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.result {
  margin: 20px 0;
  font-size: 22px;
}

#block-arg {
  margin-bottom: 30px;

  .arg-table {

    .arg-name {
      width: 20%;
    }

    .arg-description {
      width: 40%;
    }

    .arg-input {
      width: 40%;
      padding: 5px;

      input[type=text] {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px rgba(26, 26, 78, 0.1);
        font-size: 16px;
        font-weight: 100;

        &::placeholder {
          font-weight: 100;
          color: #ccc;
        }

        &:focus {
          outline: 0;
          border-bottom-color: rgba(106, 174, 243, 0.7);

          &::placeholder {
            color: transparent;
          }
        }
      }
    }
  }
}

#block-option {
  .option-table {

    .option-name {
      width: 20%;
    }

    tr {
      &:hover {
        background-color: rgba(0, 78, 252, 0.05);
        cursor: pointer;
      }
    }
  }
}
