label {
  font-size: 16px;
}

input {
  padding: 5px;
  font-size: 16px;
}

.result {
  margin: 20px 0;
  font-size: 22px;
}

.option-table {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);

  tr {
    border-bottom: solid 1px #ddd;

    &:hover {
      background-color: rgba(0, 78, 252, 0.05);
      cursor: pointer;
    }
  }

  td {
    padding: 10px 5px;
  }

  .option-name {
    width: 150px;
  }
}
