@import '../shared/variables';

label {
  font-size: 16px;
}

table {
  width: 100%;
  font-size: 14px;

  tr {
    border-bottom: solid 1px #eee;
  }

  td {
    padding: 10px 10px;
    vertical-align: middle;
  }
}

.command-description {
  margin-bottom: 20px;
  font-size: 14px;
}

#grammar {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 30px 20px 30px 50px;
  background-color: #f4f4f5;
  font-size: 16px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 8px;
    content: '文法';
    font-size: 12px;
    color: #888888;
  }

  .name {
    float: left;
    margin-right: 10px;
  }

  .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 8px 15px;
    background-color: #dadbde;
    font-size: 12px;
    color: #5c5f67;

    &:focus {
      outline: 0;
    }
    &:hover {
      background-color: #bdbec1;
      color: #fff;
      cursor: pointer;
    }
  }
}

@mixin arg-input($color) {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px rgba(26, 26, 78, 0.1);
  font-size: 16px;
  font-weight: 100;

  &::placeholder {
    font-weight: 100;
    color: #ccc;
  }

  &:focus {
    outline: 0;
    border-bottom-color: $color;;

    &::placeholder {
      color: transparent;
    }
  }
}

#block-arg {
  margin-bottom: 50px;

  .arg-table {

    .arg-name {
      width: 20%;
      padding-left: 20px;
    }

    .arg-description {
      width: 40%;
    }

    .arg-input {
      width: 40%;
      padding: 5px;

      input[type=text] {
        @include arg-input($arg-color);
      }
    }
  }
}

@mixin row-mark($icon, $opacity) {
  &:before {
    position: absolute;
    left: 3px;
    content: $icon;
    font-family: FontAwesome;
    color: $option-color;
    opacity: $opacity;
  }
}

#block-option {
  .option-table {

    .option-name {
      position: relative;
      width: 20%;
      padding-left: 23px;
      color: #4777d4;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        @include row-mark("\f055", 0.4);
      }
      &.active {
        @include row-mark("\f058", 0.8);

        &:hover:before {
          opacity: 0.4;
        }
      }
    }
    .option-description {
      width: 40%;
    }
    .option-input {
      width: 40%;
      padding: 5px;

      input[type=text] {
        @include arg-input($option-color);
      }
    }
  }
}
