<div>
  <h2>{{ command.name }}</h2>
  <p>{{ command.description }}</p>

  <div class="grammar">
    {{ command.grammar }}
  </div>

  <div class="result">
    <span>{{ command.name }}</span>
    <span *ngIf="command.optionHolder.getCombinedOptions().length > 0">-</span>
    <span *ngFor="let op of command.optionHolder.getCombinedOptions()">
      <span>{{ op.withoutHyphen }}</span>
    </span>
    <span *ngFor="let op of command.optionHolder.getIsolatedOptions()">
      <span>{{ op.name }}</span>
      <span *ngIf="op.argument">{{ op.argument.input }}</span>
    </span>
  </div>

  <h3>引数</h3>
  <div *ngFor="let arg of command.args">
    <label>{{ arg.name }}</label>
    <input type="text">
  </div>

  <h3>オプション</h3>
  <table class="option-table">
    <tbody>
    <tr *ngFor="let option of command.options" (click)="command.optionHolder.push(option)">
      <td class="option-name">{{ option.name }}</td>
      <td>{{ option.description }}</td>
    </tr>
    </tbody>
  </table>
</div>
