<div>
  <h2>{{ command.name }}</h2>
  <div class="command-description">
    <span>{{ command.description }}</span>
  </div>

  <div class="command-grammar monospaced">
    <span>{{ command.name }}</span>
    <app-options-expression *ngIf="command.hasOption()"
                            [holder]="command.optionHolder">
    </app-options-expression>
    <app-arguments-expression *ngIf="command.hasArg()"
                              [args]="command.args">
    </app-arguments-expression>
  </div>

  <div id="block-arg">
    <h3>引数</h3>
    <table class="arg-table">
      <tr *ngFor="let arg of command.args">
        <td class="arg-name monospaced">{{ arg.name }}</td>
        <td class="arg-description">{{ arg.description }}</td>
        <td class="arg-input">
          <input type="text"
                 class="font-awesome"
                 placeholder="&#xF040;  {{ arg.sample }}"
                 [(ngModel)]="arg.input"
                 spellcheck="false">
        </td>
      </tr>
    </table>
  </div>

  <div id="block-option">
    <h3>オプション</h3>
    <table class="option-table">
      <tbody>
      <tr *ngFor="let option of command.options" (click)="command.optionHolder.push(option)">
        <td class="option-name monospaced">{{ option.name }}</td>
        <td>{{ option.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
