.options {
  float: left;
  margin-right: 10px;
  color: #35bb21;

  div {
    float: left;
  }

  .combined-options {
    margin-right: 5px;

    .option:not(:last-child) {
      margin-right: 2px;
    }
  }

  .isolated-options {

    .option:not(:last-child) {
      margin-right: 5px;
    }
  }
}
