<div class="options-empty" *ngIf="!holder.hasOption()">[options]</div>
<div class="options" *ngIf="holder.hasOption()">
  <div class="combined-options block">
    <div *ngIf="holder.hasCombinedOption()" [@enter]="'in'">-</div>
    <div *ngFor="let op of holder.combinedOptions" class="option" [@enter]="'in'">
      <span>{{ op.withoutHyphen }}</span>
    </div>
  </div>
  <div class="isolated-options block">
    <div *ngFor="let op of holder.isolatedOptions" class="option" [@enter]="'in'">
      <span>{{ op.name }}</span>
    </div>
  </div>
  <div class="with-arg-options block">
    <div *ngFor="let op of holder.withArgOptions" class="option" [@enter]="'in'">
      <div class="name">{{ op.name }}</div>
      <div *ngIf="op.argument.input" class="arg">{{ op.argument.input }}</div>
      <div *ngIf="!op.argument.input" class="arg"><{{ op.argument.name }}></div>
    </div>
  </div>
</div>
