@import '../shared/variables';

@mixin options {
  float: left;
  padding-bottom: 5px;
  margin-right: 10px;
  border-bottom: solid 2px rgba(53, 187, 33, 0.4);
  color: $option-color;
}

.options-empty {
  @include options;
}

.options {
  @include options;

  div {
    float: left;
  }

  .block:not(:last-of-type) {
    margin-right: 7px;
  }

  .combined-options {

    .option:not(:last-child) {
      margin-right: 2px;
    }
  }

  .isolated-options {

    .option:not(:last-child) {
      margin-right: 7px;
    }
  }

  .with-arg-options {

    .option {

      &:not(:last-child) {
        margin-right: 7px;
      }
      .name {
        margin-right: 7px;
      }
      .arg:not(:last-child) {
        margin-right: 7px;
      }
    }
  }
}
