<div class="options">
  <div *ngIf="!holder.hasOption()">[options]</div>
  <div class="combined-options" *ngIf="holder.hasCombinedOption()">
    <div>-</div>
    <div *ngFor="let op of holder.getCombinedOptions()" class="option">
      <span>{{ op.withoutHyphen }}</span>
    </div>
  </div>
  <div class="isolated-options">
    <div *ngFor="let op of holder.getIsolatedOptions()" class="option">
      <span>{{ op.name }}</span>
      <span *ngIf="op.argument && op.argument.input">{{ op.argument.input }}</span>
    </div>
  </div>
</div>
